@import 'colors';

.headerBody {
    z-index: 50;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerBody {
    z-index: 49;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 7vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}