.projectsPageContainer {
    width: 100%;
    height: 100%;
    color: white;
}

.projectsPageContainer {
    border-top: 10px solid lightgreen;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}